*
    padding: 0
    margin: 0
    box-sizing: border-box
sub
    font-family: 'Inter', sans-serif
h1
    font-family: 'Fredoka', sans-serif
    font-weight: bold
h2
    font-family: 'Ubuntu', sans-serif
    font-weight: 400
p
    font-family: 'Inter', sans-serif
    font-weight: 200
    font-size: 20px
main
    min-height: 100vh
    //problemas con opacidad al estar en main, hay que cambiar.
    //background-image: url(/src/assets/img/board2play-background.png)
    //background-repeat: no-repeat
    //background-position: center center
    //background-size: 25%
body
    height: 100%
    background: $background-color
    overflow: auto
label
    font-family: 'Inter', sans-serif
    font-weight: 200
    font-size: 20px
input
    font-size: 2rem
    font-family: 'Inter', sans-serif
a
    font-family: 'Ubuntu', sans-serif
    color: black
.principal-title
    display: flex
    justify-content: flex-start
    padding: 20px
    margin-left: 4rem
.form-title
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Ubuntu', sans-serif
    padding: 1rem