$accent-color: #FDCA40;
$text-color: #FAF8F2;
$background-color:#f7f7f7;
$navigation-color: #ffffff;
$primary-color:#00ABFF;
$active-primary-color: #0073AB;
$active-accent-color: #C69000;

// Colores modo oscuro
$text-color_dark: #FAF8F2;
$background-color_dark: #3a3535b6;
$navigation-color_dark: #0c0c0cb6;