.boardgame-details
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    flex-direction: column
    width: 60%
.boardgame-img
    width: 80%
.comment-list-item-odd 
    background-color: #c9bbb1
.comment-list-item
    list-style: none
    padding: 0.7rem
    h2
        margin-left: 2rem
    p
        margin-left: 4rem
.comment-section
    display: flex
    justify-content: center
    /* align-items: center; */
    flex-direction: column
.comment-form
    margin-bottom: 0.4rem
    display: flex
    justify-content: center
.comment-delete-button
    font-family: 'Ubuntu', sans-serif
    font-size: 1rem
    background: #e89c5e
    border: none
    outline: none
    border-radius: 0.2rem
    padding: 0.5rem 1rem
    cursor: pointer
    transition: all 200ms ease-in