.boardgame-details
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 100%
.boardgame-img
    width: 40%
.boardgame-info
    width: 40%
.boardgame-info-text
    padding: 0.7rem
.comment-list-item-odd 
    background-color: #e6ccba
.comment-list-item
    list-style: none
    padding: 0.7rem
    h2
        margin-left: 2rem
    p
        margin-left: 4rem
.comment-section
    display: flex
    justify-content: center
    /* align-items: center; */
    flex-direction: column
.comment-section-title
    margin-left: 1rem
.comment-form
    margin-bottom: 0.4rem
    display: flex
    justify-content: center
.comment-delete-button
    font-family: 'Ubuntu', sans-serif
    font-size: 1rem
    background: #e89c5e
    border: none
    outline: none
    border-radius: 0.2rem
    padding: 0.5rem 1rem
    cursor: pointer
    transition: all 200ms ease-in
.game-details-title
    display: flex
    justify-content: flex-start
    padding: 2rem
    margin-left: 10px
.comment-field
    display: flex
    justify-content: center
    flex-direction: column
    flex-wrap: wrap
.comment-label
    margin-bottom: 10px