.user-page
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    flex-direction: column
.user-comments
    width: 50%
    display: flex
    flex-direction: column
    max-width: 35rem
.profile-comments-list-item
    list-style: none
.profile-picture
    width: 10rem
.user-info
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    width: 50%
    max-width: 35rem
    outline: solid
    outline-color: $active-primary-color
    outline-width: thin
    border-radius: 10px
    padding: 10px
    background: #E3E8FF
.profile-comment-link
    text-decoration: none
.profile-comment-content
    display: flex
    flex-direction: column