.publishers-container
    display: flex
    justify-content: center
    width: 100%
    flex-wrap: wrap
.publisher-card
    width: 25rem
    flex-wrap: wrap
    display: flex
    align-items: flex-start
.publisher-img
    width: 33%
.publisher-name
    padding: 20px
.publisher-element
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-decoration: none