.publishers-container
    display: flex
    justify-content: center
.publisher-card
    width: 40%
.publisher-img
    width: 33%
.publisher-name
    padding: 20px
.publisher-element
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column