.category-buttons
    display: flex
    justify-content: flex-start
    padding: 20px
    width: 45%
/*     flex-wrap: wrap
 flex-direction: column */
.boardgames-category-button
    width: 20rem
    height: 40px
    border: 1px solid #b8daff
    border-radius: 45px
    transition: all 0.3s
    cursor: pointer
    background: white
    font-size: 1.3rem
    font-weight: 200
    font-family: "Ubuntu", sans-serif
    margin: 3px
.boardgames-category-button:hover
    background: #b8daff
.boardgames-category-button.selected
    background: #315cfd
    color: white
    font-size: 1.5em
