.register-form
    display: flex
    flex-direction: column
    width: 55%
    padding: 1rem
    border-radius: 5px
    border-style: solid
    border-width: thin
    border-color: $primary-color
    max-width: 40vw

.register-container
    display: flex
    flex-direction: column
    padding: 0.3rem
    min-width: 100px
