.game-card-container
    width: 100%
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
.game-card
    margin: 0.6rem
    justify-content: center
    display: flex
    border: 1px
.game-card-link
    color: black
    text-decoration: none
.game-category
    color: #BDB2B2
    text-decoration: none
    outline: none
.game-img
    width: 50%
    margin-top: 1rem
.game-card 
  box-sizing: border-box
  width: 21%
  background: white
  border: 1px solid white
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22)
  border-radius: 5px
  text-align: center
  cursor: pointer
  transition: all 0.5s
  display: flex
  align-items: center
  justify-content: center
  font-weight: bolder
  color: black
.game-card:hover
  border: 1px solid black
  transform: scale(1.05)
.game-card:active 
  transform: scale(0.95)

@media(max-width: 1500px)
    .game-card-details-name
        font-size: 20px
    .game-category
        font-size: 18px
    .game-card-commentary
        font-size: 18px

@media(max-width: 1200px)
    .game-card
        width: 40%

@media(max-width: 660px)
    .game-card
        width: 90%