.game-card-container
    width: 100%
    display: flex
    justify-content: space-around
    flex-wrap: wrap
.game-card
    width: 40%
    padding: 20px
    border-style: solid
    background-color: white
    border-radius: 1.6rem
    margin: 0.6rem
.game-img
    width: 80%

