.paginate 
  display: flex
  justify-content: center
  padding: 2vh

.paginate-button 
  font-size: 18px
  padding: 10px
  border: transparent
  color: black
  margin: 0.6rem
  border-radius: 5px

.paginate-button:hover 
  background: #29216e
  cursor: pointer

.paginate-button.active 
  background-color: #29216e
  color: white
