.searchbar-section
    width: 100%
    display: flex
    justify-content: flex-end
    
.game-searchbar
    margin: 30px
    background: white
    border: solid
    border-color: black
    border-width: 1px
    outline: none
    width: 20rem
    padding: 10px 20px
    font-size: 17px
    border-radius: 10px
    font-family: 'Ubuntu', sans-serif
